.div-scroll {
	overflow: auto;
	height: 160px;
	margin-bottom: 20px;
}

.dynamic-survey-div-scroll {
	overflow: auto;
	height: 700px;
	padding: 10px;
}

.edit-field-div-scroll {
    overflow: auto;
    height: 250px;
    padding: 5px;
}

.survey-section {
	background-color: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 20px;
}

.survey-section-description {
	color: #c83b1b;
}

.survey-question {
	margin-top: 10px;
	margin-bottom: 10px;
}

.field-type-pill {
	border-radius: 12px;
	text-align: center;
	vertical-align: baseline;
	padding: 2px 4px 2px 4px;
}

.standard-question-pill {
	background-color: #fff;
	border: 3px solid #dedede;
	color: #333;
}

.section-break-pill {
	border: 3px solid #c2e1ef;
	background-color: #DFF4FF;
	color: #336699;
}

.page-break-pill {
	border: 3px solid #efd1d1;
	background-color: #FFE5E3;
	color: #AF2B2B;
}

.populate-parent-field-children {
	padding: 4px 6px 10px 6px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.codeigniter-hero-unit{
	padding: 15px 60px;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #f5f5f5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
	border: 1px solid #ccc;
}

.subject{
	color: #5a5a5a;
}

.div-container-border{
	padding: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}